matplotlib
matplotlib.pyplot
matplotlib.colors
numpy
pandas
scikit_learn
streamlit
streamlit_option_menu
geopandas
ipywidgets
pyarrow
plotly
plotly.graph_objects
plotly.express
colorcet
seaborn
datetime
time

